annotated-types
anyio
attrs
Babel
beautifulsoup4
blinker
Brotli
certifi
chardet
click
colorama
configobj
contourpy
cryptography
cssselect
cycler
decorator
distro
fonttools
fs
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
html5lib
httpcore
httplib2
httpx
idna
Jinja2
jsonpatch
jsonpointer
jsonschema
kiwisolver
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
netaddr
numpy
oauthlib
packaging
pexpect
pillow
prompt_toolkit
proto-plus
protobuf
ptyprocess
pyasn1
pyasn1_modules
pycryptodomex
pydantic
pydantic_core
Pygments
PyJWT
PyOpenGL
pyparsing
pyperclip
pyrsistent
pyserial
python-dateutil
python-magic
pytz
PyYAML
requests
rich
SciPy
setuptools
six
sniffio
soupsieve
SpeechRecognition
sympy
tenacity
tornado
tqdm
typing-inspection
typing_extensions
unicodedata2
uritemplate
urllib3
wcwidth
webencodings
websockets
wheel
yt-dlp
zombie-imp